html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h4 {
  font-size: x-large;
  text-shadow: 2px 2px lightblue;
}

.hFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vFlex {
  display: block;
  flex: 1;
  flex-flow: row;
  max-width: 50%;
  height: 100%;
  justify-content: center;
}

.picSmall {
  height: 200px;
}
.boxContent {
  flex: 1;
  height: 100%;
  padding: 10px;
}

#paragraphsDiv {
  width: 100%;
}

#title {
  color: white;
  font-weight: bolder;
  font-size: xx-large;
}

#footer {
  background: black;
  display: flex;
  color: white;
}

#navbar {
  background-color: black;
  justify-content: center;
  flex-direction: row;
  height: auto;
  width: 100%;
}

#logo {
  width: 75px;
  border-radius: 50px;
}

#featured {
  width: 200px;
  height: 200px;
}
